/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// configure the style from settings
@import 'settings';

/*
header navigation
*/


header#masthead {
	width: 100%;
	border-bottom: solid 3px lightgrey;
	clear: both;
	background-color: darkgrey;
	.site-branding {
		height: $sash-height;
		width: 25%;
		background-color: yellow;
		float: left;
		.logo, .logo-text {
			float: left;
		}
		logo-text{
			line-height: $sash-height;
		}
		
		.site-logo-img {
			height: $sash-height;
		}
	}
	nav {
		margin: -$sash-height 0 0 25%;
		line-height: $sash-height;
	}
}