a {
	text-align: center;
	color: $color__text-menu;

	&:visited {
		color: darken($color__text-menu, 15);
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__text-menu-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.theme-auth {
	@include nolink;
	color: scale-lightness($color__background-footer, 17);
	&:visited { color: scale-lightness($color__background-footer, 17); }
	&:hover {color: scale-lightness($color__background-footer, 30) !important }
} 

