.main-navigation {
	background-color: $color__background-menu;
	clear: both;
	display: block;
	
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		width: 100%;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			// top: 1.5em; //not sure why this pulls it up
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				background-color: lighten($color__background-menu-item, 10);
				@include pad(0);
				position: absolute;
				left: 0;
				@include span(3 of 4 isolate at 10px);
				a {
				border: solid 1px lighten($color__background-menu-item, 20)}
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
                /*
 		 * All menu items, including submenu items (li) 
                 */
		background-color: $color__background-menu-item;
		position: relative;
		@include full;
		@include pad(0.2, 0.6 of 4); //mobile menu push to left
		// &:after {
		// 	@include radgrad($color__background-body, $color__text-screen, right);
		// };
		// &:last-child:after { @include radgrad(clear, clear, right)}
		//
                //
		// &:hover > a,
		// &.focus > a {
		// }
	}
	a {
		border: solid 1px lighten($color__background-menu-item, 20);
		display: block;
		text-decoration: none;
		@include adjust-font-size-to(18px);
		// margin: 2px;
		// @include rhythm-padding(0.5);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
	li.current-menu-item {
		position: relative;
		> a:before { }
		> a:after { }
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	// li {@include testing(red)};
}
.menu-toggle {
	width: 40px;
	background: $color__background-menu;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin: 0;
	padding: 0;
	@include border-radius(2px);
	border: none;
	@include squish(30px);
}

@include susy-breakpoint($tablet-portrait){
	#masthead {@include rhythm-margins(0, 2); /*pushes the main content underneath the #masthead to make space for the height of the menu */}
	.main-navigation {
		position: absolute;
		top: 400px; //the height of #masthead 
		left: 0;
		right: 0;
		.menu>li {
                        /*
			 * Hopefully only the top level menu
                         */
			@include gallery(1 of 5);
		}
		li {
                        /*
			 * All menu items, tablet-portrait size and up including submenu
                         */
			@include pad(0);
			>a {@include rhythm(0)};
		}
		.menu>li>ul::before {
			content: "^"; 
			position: absolute;
			top: rhythm(-0.3);
			z-index: 9999;
			@include squish(50%);
		}
		.sub-menu>li {
			@include full;
		}
		ul {
			ul {
				// @include bleed-y(2rem);
				// top: 5px;
			}
			clear: both;
		};
		
		a {border: none;};
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
#site-navigation { 
	@include rhythm-padding(0.5);
	&:before {@include radgrad(clear, white, top); z-index: 1000}
	&:after {@include radgrad(clear, white, bottom); z-index: 1000}
}
