.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// .gallery-columns-2 & {
	// 	max-width: 50%;
	// }
	$class-slug: gallery-columns !default;

	@for $i from 2 through 9 {
		@include full;
		@include susy-breakpoint($tablet-portrait){
			.#{$class-slug}-#{$i} & {
				@include gallery(1 of $i);
			}
		}
	}
}

.gallery-caption {
	display: block;
}
// Metaslider info
.slidepush {
	@include susy-breakpoint($tablet-landscape) { 
		padding-left: span(1 of 14);
		padding-right: span(1 of 14);
	}
	@include susy-breakpoint($desktop) { 
		padding-left: span(2 of 16);
		padding-right: span(2 of 16);
	}
}
