@mixin box-sizing($value) {
-moz-box-sizing: $value;
box-sizing: $value;
}
// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

/*
 * Development helpers
 */
@mixin testing($colour: red) {
	background-color: $colour !important;
}
@mixin size($colour: red) {
	#showsize {
		position: fixed;
		@include pad(15px);
		top: 0;
		@include span(isolate 5 at 6 of 12);
		z-index: 9999999;
		@include border-radius(10px);
		&:hover{ @include opacity(0.8);}
		@include susy-breakpoint($smartphone-portrait) {
		&::after {	
			content: '$smartphone-portrait';
		}
		};
		@include susy-breakpoint($smartphone-landscape) {
		&::after {	
			content: '$smartphone-landscape';
		}
		};
		@include susy-breakpoint($tablet-portrait) {
		&::after {	
			content: '$tablet-portrait';
			width: span(2 of 16);
			left: span(2 of 16);
			top:  span(2 of 16);
		}
		};
		@include susy-breakpoint($tablet-landscape) {
		&::after {	
			content: '$tablet-landscape';
		}
		};
		@include susy-breakpoint($desktop) {
		&::after {	
			content: '$desktop';
		}
		};
	};
}	

/*
 * Page layout mixins
 */
@mixin page {
	@include span(full);
	//up to tablet landscap
	@include susy-breakpoint($tablet-portrait) {
		// Tablet-portrait and up
		@include span(14 of 16 nest);
		@include squish(1 of 16);
	};
	@include susy-breakpoint($tablet-landscape) {
		// Tablet-portrait and up
		@include span(14 of 16 nest);
		@include squish(1 of 16);
	};
	@include susy-breakpoint($desktop) {
		@include span(16 of 16 nest);
		@include pad(0.5 of 16);
	}
}

/*
 * extra styling mixins
 */
@mixin radgrad($fadefrom: black, $fadeto: white, $side: top) {
	position: absolute;
	content: "";
	@if $side == "right" {
		top: 3px;
		right: 3px;
		bottom: 3px;
		width: 2px
	    } @else if $side == "left" {
		top: 3px;
		left: 3px;
		bottom: 3px;
		width: 2px
	    } @else if $side == "top" {
		height: 2px;
		top: 3px;
		left:3px;
		right:3px;
	    } @else if $side == "bottom" {
		height: 2px;
		bottom:3px;
		left:3px;
		right:3px;
	}
	@if $fadeto == "clear" {
		$fadeto : rgba(0,0,0,0.03);
	    }
	@if $fadefrom == "clear" {
		$fadefrom : rgba(0,0,0,0.05);
	    }
	
	@include background-image(radial-gradient($fadeto, $fadefrom 65%));
}

@mixin nolink() {
	text-decoration: none;
	background-color: clear !important; 
}
