// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
// testing mixin - sets background-color: $col !important; 
@mixin test($col: red) {
	background-color: $col !important; 
}
@mixin page-squeeze {
	@include pad(2);
}
@mixin page {
	width: span(full);
	@include page-squeeze;
}
@mixin navtabs($corner: 1em) {
	ul li {
		@include border-radius($corner);
	}
}
@mixin nolink() {
	text-decoration: none;
	background-color: clear !important; 
}
@mixin button($butcol: $color__background-menu-item) {
	@include contrasted($butcol);
	&:hover {@include contrasted(adjust-lightness($butcol, 20));}
	@include adjust-font-size-to(1.5em);
	@include nolink;
	padding: 1.2rem;
	@include border-radius(2em);
}

