@import "site-vars";

// Basic site layout template

#page {
		@include container($susy);
		background: $color__background-screen;
		min-height: 100%;
};
footer#colophon, article {
	@include page;
}

// Header
#masthead {
	@include page;
	height: 100vh;
	#site-navigation {
		@include span(4 of 14);
	}
}

